<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyCuGHKC78oCkQw-0UptUt0hwO8NZj9f1Vk</string>
	<key>GCM_SENDER_ID</key>
	<string>25984257291</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.connectCoffee</string>
	<key>PROJECT_ID</key>
	<string>connect-coffee-dfbda</string>
	<key>STORAGE_BUCKET</key>
	<string>connect-coffee-dfbda.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:25984257291:ios:ab0b09efa7521c5879a60e</string>
</dict>
</plist>